extends ./layout

block append_header
  link(rel='stylesheet' href='/stylesheets/All_tax_table.css')

block headerContent
  header
    .header-inner
      .Logo Barcode DB
      .header-item
        nav.nav1
          ul
            li
              a(href='/')   Top   
            li
              a(href='/download') DownLoad
            li
              a(href='#') Taxonomy
            li
              a(href='/help')   Help  
  .wrap_header
    p.header #{taxcatobj.ALP}

block main
  main
    ul.accordion
      li.alpha
        .table_wrap
          table.content
            caption rbcL/#{taxcatobj.CATEGORY}/#{taxcatobj.ALP} 
            caption
            tbody
              tr
                th= taxcatobj.ALP
                th All included database
                th Curated DB
              each item in taxcatobj.ELEM
                  tr
                    td= item.NAME
                    td= item.ALL
                    td= item.CURATED